@model TS.SSC.Portal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambiar contraseña";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Registro de Sacramentos Cristo del Consuelo</title>
    <link rel="shortcut icon" href="~/Content/img/cristo.jpg" />
    <link href="~/Content/css/stylelogin.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
</head>
<body>

    <div class="login-box">
        <img src="~/Content/img/cristo.jpg" class="avatar" />
        <h1 class="text-center login-title">Grupo - @System.Web.Configuration.WebConfigurationManager.AppSettings["NombreEmpresa"]</h1>
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title"><b>Cambiar contraseña</b></h1>
            <div class="account-wall">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Contraseña actual", @class = "form-control" })
                    @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Contraseña nueva", @class = "form-control" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirmacion contraseña", @class = "form-control" })


                    @*<div class="form-group">
                        <div class="col-md-offset-3 col-md-9">*@
                    <input type="submit" value="Cambiar contraseña" class="btn btn-lg btn-primary btn-block" />
                    @*</div>
                        </div>*@
                }
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval")*@
</body>
</html>
